[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
starlette = "*"
jinja2 = "*"
num2words = "*"
pydantic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
